html,
body {
    direction: rtl;
    margin: 0;
    padding: 0;
    font-family: ShabnamFD;
    font-size: 12px;
    text-align: right;
    background-color: #f6f5fa;
    white-space: nowrap;
    overflow-x: hidden;
    max-width: 720px;
    min-height: 750px;
    margin: 0 auto;

}

@for $i from 1 to 7 {
    h#{$i} {
        font-size: 14px;
        font-weight: bold;

    }
}
.fixboxitem{
    padding: 0px !important;
    margin: 0px !important;
}
.headerRow {
    background-color: #0d2b52;
    color: #ffff;
}

.timeCoustomColor {
    color: #e662d4;
}

.boxItems {
    border-radius: 10px !important;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}

.boxTime {

    .form-check-label {
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
        border-radius: 50px !important;
    }

    .checkBoxAttive {
        background-color: #e662d4;
        color: #ffff;
    }
}

.inputTime {
    border: none;

    &:focus {
        border: none;
        box-shadow: none;
    }
}

.errorinputTime {
    color: red;
}


.boxDateandClock {
    .Iconcalenda {
        color: #5325DF;
    }

    p {
        margin: 0 auto;
    }

    &::after {
        content: " ";
        background-color: #5325DF;
        position: absolute;
        width: 10%;
        height: 2px;
        bottom: 0px;
        right: 43%;
    }
}

.progressFooter {
    height: 3px;
    width: 100%;
    direction: ltr;
    background-color: transparent !important;
    box-shadow: 0px -4px 3px rgba(0, 0, 0, 0.1);
}

.dateModal {
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);

    &::after {
        content: " ";
        background-color: green;
        position: absolute;
        height: 5px;
        width: 5px;
        border-radius: 50px;
    }
}

.dateModalactive {
    background-color: #5325DF;
    color: #ffff;
}

.btnSetClolck {
    input {
        font-size: 15px;
        text-align: center;


    }

    .MuiInput-underline {
        &::before {

            border-bottom: none !important;
        }

        &::after {
            border-bottom: none !important;
        }
    }
}

.MuiPaper-elevation24 {
    direction: ltr;
}